/**************** Single Doctor Page Only ****************/
.single {
  .entry-title {
    border-bottom: none;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .speciality {
    position: relative;
    bottom: 25px;
  }
  .health-grades, .vitals {
    margin-bottom: 15px;
  }
  .single-image {
    border-radius: 3px;
    height: 300px;
    width: 300px;
  }
  .physician-information {
    .header {
      background-color: $off-white;
      color: darken($highlight, 10%);
      display: inline-block;
      font-size: 16px;
      padding: 5px 10px;
      width: 100%;
    }
    p {
      color: $highlight;
      padding: 5px 10px;
      margin-bottom: 5px;
    }
    .col-lg-3 {
      padding-left: 0;
    }

  }
  .single-office-hours {
    p {
      float: left;
      width: 50%;

      &:first-child {
        display: none;
      }
    }
  }
}

.blog {
  .single-profile {
    .col-sm-5, .col-sm-7 {
      padding-left: 0;
      padding-right: 0;
    }
    .entry-title {
      background-color: $off-white;
      padding: 15px;
      text-align: left;
      text-transform: uppercase;
      a {
        color: $highlight;
        width: 300px;
      }
      .specialty {
        color: $highlight;
        float: right;
        font-size: 12px;
      }
    }
    .doctor-portrait {
      img {
        display: block;
        height: 200px;
        width: 200px;
        margin-bottom: 15px;
      }
    }
    .office-hours {
      p {
        line-height: 22px;
        padding-left: 5px;

        &:nth-child(even){
          background-color: $off-white;
        }
      }
    }
    .btn-primary {
      float: right;
      position: relative;
        right: 10px;
        top: 58px;
    }
  }
}

@media (max-width: 1200px){
  .blog {
    .single-profile {
      .entry-title {
        .specialty {
          font-size: 10px;
          position: relative;
            top: 2px;
        }
      }
      .doctor-portrait {
        img {
          height: 175px;
          width: 175px;
        }
      }
      .office-hours {
        p {
          line-height: 19px;
        }
      }
    }
  }
}