/* Home Map */

.home {
  .map-header {
    background-color: $brand-primary;
    padding: 20px 0;
    h3 {
      color: $white !important;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
      text-align: center;
      text-transform: capitalize;
    }
  }
  .map-pointer {
    background-color: $brand-primary;
    height: 30px;
    position: absolute;
      left: 0;
      right: 0;
      top: 65px;
    margin: auto;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    width: 30px;
    z-index: 2;
  }
  .map {
    pointer-events: none;
    #map {
      height: 250px;
    }
  }
}
.map {
  #map {
    height: 555px;
  }
}

@media (max-width: 1200px){
  .map {
    #map {
      height: 624px;
    }
  }
}
@media (max-width: 991px){
  .map {
    #map {
      height: 300px;
    }
  }
  .map-card, .contact-us .map {
    display: none;
  }
}

@media (max-width: 767px){
  .home {
    .map-header {
      h3 {
        font-size: 20px ;
      }
    }
    .map-pointer {
      top: 62px;
    }
  }
  .map {
    #map {
      height: 250px;
    }
  }
}

@media (max-width: 480px){
  .home {
    .map-header {
      h3 {
        font-size: 18px;
      }
    }.map-pointer {
       top: 59px;
     }
  }
}