.ribbon-container {
  position: relative;
    top: 0;
    right: 1px;
  margin-bottom: 15px;
  margin-top: 20px;
  overflow: visible;

  font-size: 18px;
  line-height: 18px;
  width: 372px;
}

.ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
}

.ribbon-container:after {
  /* This adds the second part of our dropshadow */
  content: "";
  height: 3px;
  display: block;
  position: absolute;
    bottom: -3px;
    left: 58px;
    right: 3px;
}

.ribbon-container span {
  display: block;
  padding: 20px;
  position: relative;
  background: $highlight;
  overflow: visible;
  height: 58px;
  margin-left: 29px;
  color: #fff;
  text-decoration: none;
}

.ribbon-container span:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-top: 15px solid darken($highlight, 30%);
  border-right: 15px solid transparent;
}

.ribbon-container span:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
  border-top: 29px solid $highlight;
  border-bottom: 29px solid $highlight;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
}

@media (max-width: 1200px) {
  .ribbon-container {
    width: 309px;
  }
}
@media (max-width: 991px) {
  .ribbon-container {
    padding-top: 20px;
    width: 100%;
    span {
      margin-left: 0;
      &:before {
        border: none;
      }
      &:after {
        border: none;
      }
    }
  }
}
