// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #2a7198;
$brand-primary-shadow:  darken($brand-primary, 15%);
$highlight:             #e38143;

// these colors suck
$off-white:             #F3F0EE;
$white:                 #ffffff;
$border:                solid 1px #FBF2EE;