// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #3B6D98;
$brand-primary-shadow:  #134877;
$highlight:             #D08863;

// these colors suck
$off-white:             #F3F0EE;
$white:                 #ffffff;
$border:                solid 1px #FBF2EE;