// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #7587B1;
$brand-primary-shadow:  #3B496B;
$highlight:             #4C4E7B;
// #4b5a62
// these colors suck
$off-white:             #F3F0EE;
$white:                 #ffffff;
$border:                solid 1px #FBF2EE;