@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "components/map";
@import "components/doctors";
@import "components/ribbon";
@import "layouts/contact";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";
@import "layouts/_tinymce";
@import "layouts/jumbotron";

body {
  -webkit-font-smoothing: antialiased;
  background-color: $off-white;
  font-family: 'Lato', sans-serif;
  padding-top: 100px;
}
.patients, .blog, .contact-us {
  .wrap {
    padding-top: 20px;
  }
}
.main {
  padding-left: 0;
  padding-right: 0;
  p {
    line-height: 30px;
  }
}
.wrap {
  background-color: $white;
}

@media (max-width: 400px){
  body {
    padding-top: 90px;
  }
}