/* contact page */

.contact-us {
  .btn-primary {
    text-align: center;
   }
  .wpcf7 {
    margin-top: 15px;
    text-align: left;
    .wpcf7-form {
      .wpcf7-submit {
        float: right;
      }
    }
  }
}