/* contact page */

.contact-us {
  .outline {
    border: solid $brand-primary-shadow 2px;
    border-radius: 3px;
    padding: 50px;
  }
  .btn-primary {
    text-align: center;
   }
  .wpcf7 {
    text-align: left;
  }
}