
  .content-info {
    .logo {
      padding: 15px 0;
      text-align: center;
      width: 100%;
      img {
        text-align: center;
        width: 275px;
      }
    }
    .container {
      background-color: $white;
    }
    p,a  {
      color: $brand-primary-shadow;
      text-transform: uppercase;

      .privacy {
        color: $brand-primary-shadow;
      }
    }
  }
