
  .content-info {
    .logo {
      padding: 15px 0;
      text-align: center;
      width: 100%;
      img {
        text-align: center;
        width: 275px;
      }
    }
    .container {
      background-color: $white;
    }
    p,a  {
      color: $highlight;
      text-transform: uppercase;

      .privacy {
        color: $highlight;
      }
    }
    .questions {
      font-size: 10px;
    }
  }

  @media (max-width: 480px) {
    .content-info {
      p, a {
        font-size: 10px;
      }
    }
  }