
  .content-info {
    margin-bottom: 15px;
    .logo {
      padding: 15px 0 0 0;
      text-align: center;
      width: 100%;
      img {
        text-align: center;
        width: 400px;
      }
    }
    a {
      text-decoration: underline;
    }
    p,a  {
      color: $brand-primary;
      text-transform: uppercase;

      .privacy {
        color: $brand-primary;
      }
    }
    .questions {
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .content-info {
      p, a {
        font-size: 10px;
      }
    }
  }