.header-contact {
  background-color: $highlight;
  border-bottom: solid 1px darken($highlight, 5%);
  display: inline-block;
  height: 35px;
  width: 100%;
  a {
    border-left: solid 1px darken($highlight, 5%);
    font-size: 12px;
    padding: 5px 20px 5px 10px;

    &:first-child {
      border-right: solid 1px darken($highlight, 5%);
    }

    &:hover, &:active, &:focus, &:visited {
      text-decoration: none;
    }
    .fa {
      font-size: 14px;
      padding: 5px;
    }
  }
}
.navbar-fixed-top {
  background-color: $brand-primary;
  height: 100px;

  .brand {
    font-size: 21px;
    font-weight: 100;
    position: relative;
      top: 11px;
    text-transform: uppercase;

    &:hover, &:active, &:focus, &:visited {
      text-decoration: none;
    }
  }
  ul {
    float: right;
    position: relative;
      bottom: 25px;
    li {
      display: inline-block;
    }

    .current_page_item{
      background-color: $brand-primary-shadow;
      border-radius: 3px;
      text-decoration: none;
    }
    a {
      font-size: 16px;
      &:hover, &:active, &:focus, &:visited {
        background-color: $brand-primary-shadow;
        border-radius: 3px;
        text-decoration: none;
      }
    }
  }

  a {
    color: $white;
  }
}
@media (max-width: 991px){
  .header-contact {
    a {
      display: inline-block;
      padding: 3px 20px 3px 10px;
      width: 48px;
      .fa {
        font-size: 18px;
      }
      .fa-map-marker {
        position: relative;
          left: 3px;
      }
      .phone, .map-icon {
        display: none;
      }
    }
  }
  .navbar-fixed-top {
    height: 90px;
    .brand {
      font-size: 16px;
      top: -35px;
    }
    ul {
      bottom: 21px;
      float: none;
      margin: auto;
      text-align: center;
      width: 100%;
    }
  }
}

@media (max-width: 480px){
  .header-contact {
    .container {
      padding-right: 0;
    }
  }
  .navbar-fixed-top {
    height: 80px;
    .brand {
      font-size: 14px;
    }
    ul {
      bottom: 23px;
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 400px){
  .header-contact {
    .container {
      padding-left: 0;
    }
  }
  .navbar-fixed-top {
    .brand {
      font-size: 12px;
    }
    ul {
      bottom: 22px;
      li {
        a {
          font-size: 11px;
        }
      }
    }
  }
}
