.background {
  background: url(../../assets/images/background.png) no-repeat center -90px;
    -webkit-background-size: cover;
  background-size: cover;
  border-bottom: solid 3px $brand-primary;
  height: 550px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.home-container {
  height: 295px;
  margin: 75px 15px 30px 15px;
  text-align: center;
    h2 {
      text-transform: capitalize;
    }
    h4 {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    h2, h4 {
      color: $white !important;
      font-weight: 600;

    }
}
.contact-cta {
  list-style-type: none;
  margin: 60px auto 20px auto;
  padding-left: 0;
  text-align: center;
  li {
    display: inline-block;
    text-align: center;
    width: 35%;
    a {
      text-decoration: none;
      .label {
        box-shadow: #48483C 2px 2px 2px;
        display: block;
        font-size: 16px;
        font-weight: 400;
        padding: 1.2em 1.6em 1.3em;
        text-transform: uppercase;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;

        .fa {
          font-size: 20px;
          padding: 5px 20px 5px 5px;
        }
      }
      .label-default {
        background-color: darken($highlight, 5%);
        border-color: darken($highlight, 10%);

        &:hover, &:active, &:focus, &:visited {
          background-color: darken($highlight, 10%);
          border-color: darken($highlight, 15%);
        }
      }

      .label-primary {
        background-color: darken($brand-primary, 5%);
        border-color: darken($brand-primary, 10%);

        &:hover, &:active, &:focus, &:visited {
          background-color: darken($brand-primary, 10%);
          border-color: darken($brand-primary, 15%);
        }
      }

    }
  }
}
.home-header {
  float: left;
  margin-top: 26px;
  width: 100%;
  .fa {
    margin-right: 15px;
  }
}
@media (max-width: 767px) {
  .main {
    .contact-cta {
      li {
        display: block;
        margin: 10px auto;
        width: 60%;
      }
    }
  }
}
@media (max-width: 480px) {
  .main {
    .office {
      height: 300px;
      width: 90%;
    }
    .contact-cta {
      li {
        display: block;
        margin: 10px auto;
        width: 80%;
      }
    }
  }
}