/* The Home Page */
hr {
  border-top: $border;
}
.page-header {
  border-bottom: none;
}
.page-id-2 {
  /* the menu item */
  #menu-item-4 > a {
    background-color: #B96B43;
    border-radius: 3px;
    text-decoration: none;
  }
  /* the page header */
  .page-header:first-child {
    display: none;
  }
}

/* all pages */
.main, .sidebar {
  /* that font */
  p {
    color: $brand-primary-shadow;
  }
  /* them headers */
  h1, h2, h3, h4, h5, h6 {
    color: $brand-primary-shadow;
  }
  h4 {
    margin-bottom: 25px;
    text-transform: uppercase;
  }
}

@media (max-width: 991px){
  .main, .sidebar {
    h1, h2, h3, h4, h5, h6, p, ul, li, a, span {
      text-align: center;
    }
    .page-header {
      margin-top: 0px;
    }
    .office {
      display: block;
      float: none !important;
      margin: auto;
    }
  }
}

@media (max-width: 480px) {
  .main {
    .office {
      height: 300px;
      width: 90%;
    }
  }
}