.main {
  .home-card {
    height: 375px;
    padding: 0 !important;
  }
}
.services {
  list-style-type: none;
  padding-left: 0;
  padding-top: 20px;
  li {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    a {
      text-decoration: none;
      .label {
        background-color: darken($highlight, 5%);
        border-color: darken($highlight, 10%);
        box-shadow: #48483C 2px 2px 2px;
        display: block;
        font-size: 16px;
        font-weight: 400;
        padding: 1.2em 1.6em 1.3em;
        text-transform: uppercase;
        width: 100%;
        &:hover, &:active, &:focus {
          background-color: darken($highlight, 10%);
          border-color: darken($highlight, 15%);
        }
        .fa {
          font-size: 25px;
          padding: 5px 20px 5px 5px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  /* the services below jumbotron */
  .services {
    padding-top: 10px;
    li {
      a {
        .label {
          font-size: 14px;
        }
        .fa {
          font-size: 18px;
        }
      }
    }
  }
  .main {
    .home-card {
      height: 320px;
    }
  }
}

@media (max-width: 991px) {
  /* the services below jumbotron */
  .main {
    .home-card {
      height: 620px;
    }
  }
  .services {
    margin-bottom: 0;
    li {
      a {
        .label {
          font-size: 11px;
          padding: 1.2em 1.1em 1.3em;
        }
        .fa {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  /* the services below jumbotron */
  .main {
    .home-card {
      height: 80%;
    }
  }
  .services {
    li {
      display: block;
      width: 100%;
      a {
        .label {
          font-size: 11px;
          padding: 1.2em 1.1em 1.3em;
        }
        .fa {
          font-size: 15px;
        }
      }
    }
  }
}
