.sidebar {
  border-left: $border;
  .textwidget {
    text-align: left;
      .btn-primary {
        width: 100%;
      }
  }
  .sci-address-city, .sci-address-state, .sci-address-zip {
    display: inline-block;
  }
  .sci-address-city::after {
    content: ", ";
  }
  .sci-contact > p {
    font-weight: 500;
  }
  img {
    padding: 15px 0;
  }
  .rpwwt-widget {
    ul {
      li {
        display: inline-block;
        img {
          margin: 0 13px;
        }
        a {
          .rpwwt-post-title {
            display: none;
          }
        }
      }
    }
  }
  // to override default
  #rpwwt-recent-posts-widget-with-thumbnails-2 img {
    height: 110px;
    width: 90px;
  }
}
// remove sidebar from blog
.blog {
  .main {
    float: none;
    width: 100%;
  }
  .sidebar {
    display: none;
  }
}


