.sidebar {
  border-left: $border;
  .textwidget {
    text-align: left;
      .btn-primary {
        width: 100%;
      }
  }
  .sci-address-city, .sci-address-state, .sci-address-zip {
    display: inline-block;
  }
  .sci-address-city::after {
    content: ", ";
  }
  .sci-contact > p {
    font-weight: 500;
  }
  img {
    padding: 15px 0;
  }
  .rpwwt-widget {
    ul {
      li {
        float: left;
        margin: 0;
        width: 33%;
        img {
          margin: 0;

        }
        a {
          .rpwwt-post-title {
            display: none;
          }
        }
      }
    }
  }
  .widget_sci_info_widget {
    margin-bottom: 20px;
  }
  .recent-posts-widget-with-thumbnails {
    h3 {
      display: none;
    }
  }
  // to override default
  #rpwwt-recent-posts-widget-with-thumbnails-2 img {
    height: 115px;
    margin-left: 10%;
    width: 90%;
  }
}
// remove sidebar from blog
.blog {
  .main {
    float: none;
    width: 100%;
  }
  .sidebar {
    display: none;
  }
}


